main {
    padding-top: 2rem;
}


.form-title {
    text-align: center;
    margin: 2rem;
    font-size: 1.8rem;
    color: #1565c0;
}

.order-form input {
    display: block;
    width: 100%;
    font: inherit;
    margin: 1rem;
}