main {
    padding: 2rem;
}

.testimonial {
    font-size: 1.2rem;
}

@media (min-width: 40rem) {
    .testimonial {
        margin: 3rem 0;
    }
}

.testimonial:first-of-type {
    margin-top: 5rem ;
}

.testimonial--image-container {
    min-width: 300px;
    vertical-align: middle;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.3);
}

@media (min-width: 40rem) {
    .testimonial--image-container {
    width: 50%;
    min-width: 300px;
    display: inline-block;
    }
}

.customer--image {
    width: 100%;
    vertical-align: top;
}

.testimonial--info {
    text-align: right;
    padding: 0.9rem;
    
}

@media (min-width: 40rem) {
    .testimonial--info {
        display: inline-block;
        width: 20%;
        vertical-align: middle;
    }
}


#customer-2.testimonial {
    text-align: right;
}

.testimonial-name {
    margin: 0.2rem;
    color: #1565c0;
    font-size: 2rem;
}

.testimonial--subtitle {
    font-size: 1.1rem;
    color: #757575;
    margin: 0;
}

.testimonial--text {
    margin: 0.2rem;
    color: #212121;
}